<h1>Comments</h1>
<ol class="breadcrumb">
    <li class="active"> Comments</li>
</ol>
<table class="table table-hover tablesorter">
    <thead>
        <tr>
            <th>Comment</th>
            <th>Added date</th>
            <th>Added time</th>
            
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="comment in comments.comments">

            <td>{{comment.Comment}}</td>
            <td>{{comment.comment_Date}}</td>
            <td>{{comment.comment_Time}}</td>

            <td><a href="" ng-click = "approve(comment.comment_Id)" class="btn btn-warning">Approve</a></td>
            <td><a href="" ng-click = "deny(comment.comment_Id)" class="btn btn-danger">deny</a></td>
            <td><a href="" class="btn btn-success">View</a></td>
        </tr>
    </tbody>
</table>
