<div class="newsticker-jcarousellite" >					  
    <ul>
        <li ng-model="newsM" ng-repeat="news in newsM" class="news-holder" >
        	<div class="col-lg-3">
            	<img class="img-responsive"  ng-src="../../../api/uploads/news/{{news.news_image}}" />
            </div>
            <div class="col-lg-9">
            	<h4>{{news.news_title}}</h4>
                  <p>{{news.news_shortDescription}}</p>
                  <p class="redmore-button"><a class="btn-link" href="" ng-click="go('/news-detail/'+news.news_id)">Read More &raquo;</a></p>
            </div> 
        </li>
    </ul>		
</div>