<div class="col-md-12">
<!--	<div id="NAV-ID" class="crsl-nav">
        <a href="" class="previous">Previous</a>
        <a href="" class="next">Next</a>
    </div>-->
    <div class="crsl-items" data-navigation="NAV-ID">
        <div class="crsl-wrap">
            <figure class="crsl-item col-lg-3 col-md-3 col-sm-12" ng-model="videoT" ng-repeat="video in videoT">
                <a href="" ng-click="openWindow(video.video_url)"><img class="img-responsive" src="http://img.youtube.com/vi/{{video.video_url}}/hqdefault.jpg"></a>
            </figure>
        </div>
    </div>
</div>
