<div class="categories">
<h1>Categories</h1>              
<div class="col-lg-3 col-md-6 col-sm-6 category-item">
  <div class="category-count">11234</div>
  <div class="category-heading">Antiques</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 category-item">
  <div class="category-count">11234</div>
  <div class="category-heading">Antiques</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 category-item">
  <div class="category-count">11234</div>
  <div class="category-heading">Antiques</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 category-item">
  <div class="category-count">11234</div>
  <div class="category-heading">Antiques</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 category-item">
  <div class="category-count">11234</div>
  <div class="category-heading">Antiques</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 category-item">
  <div class="category-count">11234</div>
  <div class="category-heading">Antiques</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 category-item">
  <div class="category-count">11234</div>
  <div class="category-heading">Antiques</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 category-item">
  <div class="category-count">11234</div>
  <div class="category-heading">Antiques</div>
</div>
</div>
