<h1>Events</h1>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 events-item">
  <img class="img-responsive" src="http://placehold.it/390x390">
  <h4>Lorem ipsum dolor sit amet</h4>
  <span>19th November 2014</span>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim mauris eu lectus sagittis, vel egestas nulla iaculis. Pellentesque vestibulum velit vitae tempor commodo</p>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 events-item">
  <img class="img-responsive" src="http://placehold.it/390x390">
  <h4>Lorem ipsum dolor sit amet</h4>
  <span>19th November 2014</span>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim mauris eu lectus sagittis, vel egestas nulla iaculis. Pellentesque vestibulum velit vitae tempor commodo</p>
</div>             
<div class="col-lg-12 ad-placeholder"><img class="img-responsive" src="http://placehold.it/1170x100"></div>