<h1>News</h1>
<div class="news-item">
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><img class="img-responsive" src="http://placehold.it/150x100"></div>
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim mauris eu lectus sagittis, vel egestas nulla iaculis. Pellentesque vestibulum velit vitae tempor commodo</div>
</div>
<div class="col-lg-12 ad-placeholder"><img class="img-responsive" src="http://placehold.it/1170x100"></div>
<div class="news-item">            
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><img class="img-responsive" src="http://placehold.it/150x100"></div>
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim mauris eu lectus sagittis, vel egestas nulla iaculis. Pellentesque vestibulum velit vitae tempor commodo</div>
</div>
<div class="col-lg-12 ad-placeholder"><img class="img-responsive" src="http://placehold.it/1170x100"></div>