<div ng-controller="newsController">
	<h1><i class="fa fa-newspaper-o fa-lg"></i> News</h1>
    <!--<newsticker></newsticker>-->
	<div class="news-holder" ng-repeat="news in news.news">
    <div class="news-item row" ng-click="go('/news-detail/'+news.news_id)" >
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img class="img-responsive"  ng-src="../../../api/uploads/news/{{news.news_image}}"/>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 details"><h4>{{news.news_title}}</h4>{{news.news_shortDescription}}</div>
    </div>
    
	<!--<div class="col-lg-12 ad-placeholder"><img class="img-responsive" src="http://placehold.it/1170x100"></div>-->
    </div>
    <div class="col-lg-12 ad-placeholder" ng-controller="afterNewsfixedAddsController" >
    <div ng-repeat="add in fixedAdd.fixedAds">
   		<a href="{{add.fixedads_url}}" target="blank"> <img class="img-responsive" ng-src="../../../api/uploads/bannerAds/{{add.fixedads_image}}"></a>
    </div>
    </div>
</div>