<section class="login-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1><i class="fa fa-pencil-square-o"></i> Change password</h1>
      </div>
    </div>
    <div class="row" ng-controller="settingController">
      <div class="col-lg-5 col-md-5 col-md-offset-3 col-lg-offset-3 col-sm-12 login-form">
        <div class="form-wrap">
          <form role="form" name="confirmForgotPSWDForm" autocomplete="off" ng-controller="loginController">
            <div class="form-group">
              <label for="email" class="">New Password</label>
              <input type="password" value="" class="form-control"  ng-model="userforgotPWD.newPassword" required>
            </div>
            <div class="form-group">
              <label for="email" class="">Confirm Password</label>
              <input type="password" value="" class="form-control"  ng-model="userforgotPWD.confirmPassword" required>
            </div>
            <input type="button" ng-click="updateNewForgotpassword()" ng-disabled="confirmForgotPSWDForm.$invalid" class="btn btn-custom btn-lg btn-block pull-right" value="Change Password">
          </form>
          <hr>
        </div>
      </div>
    </div>
  </div>
</section>