
<div >
	<i class="fa fa-envelope"></i> Email a link to reset password
</div>
<form role="form" id="forgotPSWDForm" autocomplete="off" ng-controller="settingController">  
    <div class="input-group">                  
        <input type="email" class="form-control" ng-model="user.user_email" required>
        <span class="input-group-btn">
        	   	<button class="btn btn-primary" ng-click="sendforgotPSWDLink()" ng-disabled="forgotPSWDForm.$invalid">Change Password</button>
        </span>
    </div>
</form>



