<section class="contact" ng-controller="contactUsController">
  <div class="container">
  <div class="row">
    <div class="col-lg-12"><h1>Contact us</h1></div>
      <div class="col-md-8">
        <div class="well well-sm">
        <br/>
          <form class="form-horizontal" action="" method="post">
          <fieldset>        
    
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Name</label>
              <div class="col-md-9">
                <input id="name" name="name" type="text" required ng-model="contact.name" placeholder="Your name" class="form-control">
              </div>
            </div>
    
            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label"  for="email">Your E-mail</label>
              <div class="col-md-9">
                <input id="email" name="email" type="text" required ng-model="contact.email" placeholder="Your email" class="form-control">
              </div>
            </div>

             <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="phone">Your Phone</label>
              <div class="col-md-9">
                <input id="phone" name="phone" type="text" required ng-model="contact.number" placeholder="Your Phone Number" class="form-control">
              </div>
            </div>
    
            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" required for="message">Your Message</label>
              <div class="col-md-9">
                <textarea class="form-control" id="message" ng-model="contact.message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
              </div>
            </div>
    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" ng-disabled="!(contact.message && contact.number && contact.name && contact.email)" ng-click="sendContactMail()" class="btn btn-primary btn-lg">Submit</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
      <div class="col-md-4">

        <h2>Address</h2>
        <address>
          <strong>Qatar ONE</strong><br>
          15 Dehiwala Road<br>
          Dehiwala<br>
          Sri Lanka<br>
         Asia<br>
          Earth<br><br>
          <span><i class="fa fa-phone"></i> 01234 567 890</span>
          <span><i class="fa fa-envelope-o"></i> qatar@qatar.com</span>
        </address>
      
      </div>
  </div>
</div>
</section>
<section class="maps">
 <div class="google-maps">
 	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d57715.38404908805!2d51.5305745989714!3d25.297097107026453!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e45c534ffdce87f%3A0x44d9319f78cfd4b1!2sDoha%2C+Qatar!5e0!3m2!1sen!2slk!4v1422204452889" width="600" height="200" frameborder="0" style="border:0"></iframe>
</div>
</section>

