        <div class="shadow"></div>
    <ol class="breadcrumb">
  <li class="active"> <a href="#/portal/classified">classified</a>	</li>
  <li class="active"> News</li>
</ol>
    <div ng-repeat="news in news.news">
    <section class="news-events">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>{{news.news_shortDescription}}</h1>
            <div class="news-event-content">
              <p>
              <img class="img-responsive"  ng-src="../../../api/uploads/news/{{news.news_image}}" align="left">
              {{news.news_description}}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>
    <div class="shadow"></div>