<h1>Users<a href="#/addUser" class="btn btn-primary pull-right">Add New</a></h1>
<ol class="breadcrumb">
  <li class="active"> Users	</li>
</ol>
<table class="table table-hover tablesorter">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email </th>
        <th>First Name </th>
        <th>Access Token </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users.users">
        <td>{{user.user_username}}</td>
        <td>{{user.user_email}}</td>
        <td>{{user.user_firstname}}</td>
        <td>{{user.user_accessToken}}</td>
        <td><a href="#/editUser/{{user.user_id}}" class="btn btn-warning">Edit</a> <button class="btn btn-danger" ng-click="deleteUser(user.user_id)">Delete</button></td>
      </tr>
    </tbody>
</table>
