<form name="subsForm" ng-controller="subscriberController">
<div class="filter-heading">
	<i class="fa fa-envelope"></i> Subscribe 
</div>
<div class="filter-content">
    <div class="input-group">                  
        <input type="email" class="form-control"  ng-model="subscriber.subscription_email" required>
        <span class="input-group-btn">
        	<button class="btn btn-default" type="button" ng-click="addSubscriber()" ng-disabled="subsForm.$invalid"><i class="fa fa-arrow-circle-right fa-lg"></i></button>
        </span>
    </div>
</div>
</form>