<h1>Fixed Advertisments<a href="#/addFixedAdvertisment" class="btn btn-primary pull-right">Add Fixed Advertisment</a></h1>
<ol class="breadcrumb">
  <li class="active">Fixed Advertisments</li>
</ol>
<table class="table table-hover tablesorter">
    <thead>
      <tr>
        <th>Title</>
        <th>Type </th>
        <th>Image </th>
        <th>Entered Date </th>
        <th>URL</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="fiXedAdvertisment in fixedAds.fixedAds">
        <td>{{fiXedAdvertisment.fixedads_title}}</td>
        <td>{{fiXedAdvertisment.fixedads_type}}</td>
        <td>{{fiXedAdvertisment.fixedads_image}}</td>
        <td>{{fiXedAdvertisment.fixedads_enetredDate}}</td>
        <td>{{fiXedAdvertisment.fixedads_url}}</td>
         <td>{{fiXedAdvertisment.fixedads_status}}</td>
        <td><a href="#/editFixedAdvertisment/{{fiXedAdvertisment.fixedads_id}}" class="btn btn-warning">Edit</a> <button class="btn btn-danger" ng-click="deleteFixedAdvertisment(fiXedAdvertisment.fixedads_id)">Delete</button></td>
      </tr>
    </tbody>
</table>
