 
 <section class="contact" ng-controller="jobApplyController">
  <div class="container">
  <div class="row">
    <div class="col-lg-12"><h1>Send {{adversiment.advertisment[0].advertisement_contactName}} a message</h1></div>
      <div class="col-md-8">
        <div class="well well-sm">
        <br/>
          <form class="form-horizontal" action="" method="post">
          <fieldset>        
    
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Your Name</label>
              <div class="col-md-9">
                <input id="name" name="name" type="text" required ng-model="employee.name" placeholder="Your name" class="form-control">
              </div>
            </div>
                 <!-- Email input-->
            <!--<div class="form-group">
              <label class="col-md-3 control-label"  for="email">Your E-mail</label>
              <div class="col-md-9">
                <input id="email" name="email" type="text" ng-model="employee.email" placeholder="Your email" class="form-control">
              </div>
            </div>-->
    
             <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="phone">Your Phone No</label>
              <div class="col-md-9">
                  <input id="phone" name="phone" type="text" required ng-model="employee.telephone" placeholder="Your Phone Number" class="form-control">
              </div>
            </div>
    
            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message">Your Message</label>
              <div class="col-md-9">
                <textarea class="form-control" id="message" required ng-model="employee.message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
              </div>
            </div>
    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                  <button type="submit"  ng-disabled="!(employee.name && employee.telephone && employee.message)" ng-click="applyJobMail()" class="btn btn-primary btn-lg">Send Message</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
   
  </div>
</div>
</section>

