<section class="search-bar">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 keyword"><input type="text" class="form-control" id="keyword" placeholder="What are you lookig for ?"></div>
          <div class="col-lg-3  col-md-3 category">
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="col-lg-3  col-md-3 location">
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="col-lg-2  col-md-2">
            <a class="search-btn" href="#"><i class="fa fa-search"></i> Search</a>
          </div>
        </div>
      </div>
    </section>



<section class="main-page" ng-controller="addvertismentController">
  <div class="shadow"></div>
  <div class="breadcrumb-bar">
    <div class="container">
    <div class="row">
    <ul class="pull-left">
      <li><a href="">All Ads</a></li>
      <li><a href="">{{adversiment.advertisment[0].category_sub_name}}</a></li>
    </ul>
    <a class="pull-right back-link">Back to categories</a>
  </div>
</div>
  </div>
  <div class="ad-title">
    <div class="container">
    <div class="row" ><!--addvertisment-->
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
        <h2>{{adversiment.advertisment[0].advertisement_title}}</h2>
        <span>Posted by {{adversiment.advertisment[0].advertisement_contactName}}, {{adversiment.advertisment[0].date}} 
        		{{adversiment.advertisment[0].time}}, {{adversiment.advertisment[0].location_name}}</span>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 rating-bar text-right"> 
       <span class="rating">######</span>
        <span class="comments">5 Comments</span>
      </div>
    </div><!--addvertisment-->
    </div>
  </div>
  <div class="ad-detail">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <!-- bootstrap carousel -->
            <div id="ad-preview" class="carousel slide" data-ride="carousel" data-interval="false">
                <carousel interval="3000" ng-if="adversiment.images.length > 0">
                  <slide ng-repeat="slide in adversiment.images" active="slide.active">
                    <img ng-src="../../../api/uploads/advertisement/{{slide.advertisement_image}}" style="margin:auto;">
                    <div class="carousel-caption">
                    	<!--comented-->
                    </div>
                  </slide>
                </carousel>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 ad-description">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ad-price">{{adversiment.advertisment[0].advertisement_price}}</div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ad-location text-right">Location<span>
            		{{adversiment.advertisment[0].suburb_name}}, {{adversiment.advertisment[0].location_name}}</span></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="Flexible-container">
<iframe width="600" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ch/maps?f=q&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q=Bern&amp;aq=&amp;sll=46.813187,8.22421&amp;sspn=3.379772,8.453979&amp;ie=UTF8&amp;hq=&amp;hnear=Bern&amp;t=m&amp;z=12&amp;ll=46.947922,7.444608&amp;output=embed&amp;iwloc=near"></iframe>
</div>          
            <p>{{adversiment.advertisment[0].advertisement_description}}</p>
            
            <ul>
              	<li>{{adversiment.advertisment[0].advertisement_attributes}}</li> 
            </ul>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 contact-no">
              <i class="fa fa-phone fa-2x"></i> {{adversiment.advertisment[0].advertisement_contactNo}}
            </div>
             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 comments-btn text-right"><i class="fa fa-pencil-square-o fa-2x"></i> Comments &amp; Ratings</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
   <div class="ad-comments-viewer">
    <div class="container">
  <div class="row">
       
          <div class="col-lg-7 col-md-7 comments-box">
            <h2>Comments</h2>
            <div>Test Comments</div>
          </div>
          <div class="col-lg-5 col-md-5 comments-box">
            <h2>Ratings &amp; Reviews</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim mauris eu lectus sagittis, vel egestas nulla iaculis. Pellentesque vestibulum velit vitae tempor commodo</p>
            <span class="rating">######</span>
        <span class="comments">5 Comments</span>
          </div>
        </div>
        <div class="viewer-btn"><i class="fa fa-angle-double-up fa-2x"></i></div>
      </div>          
    </div>            
    <div class="related-content">
      <div class="container">
        <div class="row">
          <h2>You might also like...</h2>
           <div class="shadow"></div>
          <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Carousel items -->
            <div class="carousel-inner">

            <div class="item active">
                <div class="row-fluid">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                </div><!--/row-fluid-->
            </div><!--/item-->

            <div class="item">
                <div class="row-fluid">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                </div><!--/row-fluid-->
            </div><!--/item-->

            <div class="item">
                <div class="row-fluid">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
                </div><!--/row-fluid-->
            </div><!--/item-->

            </div><!--/carousel-inner-->
            </div><!--/myCarousel-->

        </div>
      </div>         
      
    </div>
</section>
