<section class="login-page job-applicant">
      <div class="container"> 
<div class="row">
          <div class="col-lg-5"><h1>Manage Your Account</h1></div>
          <div class="col-lg-7 settings-heading">
            <div class="row">
              <div class="col-lg-3 heading-tab"><a href="#/my-profile">My Profile</a></div>
              <div class="col-lg-3 heading-tab"><a href="#/change-password">Change Password</a></div>
              <div class="col-lg-3 heading-tab"><a href="#/my-ads">My Ads</a></div>
              <div class="col-lg-3 heading-tab active"><a href="#/view-applyjobs">Job Applicants</a></div>
            </div>
          </div>
        </div> 
      <div class="container">
      
        <div class="row">
        <table class="table table-hover tablesorter">
    <thead>
      <tr>
      	<th>Ad Title</th>
      	<th>Applicant Name</th>
      	<th>message</th>
        <th>Contact No</th>
        <th>Email</th>
        <th>applied on</th>
        <th>View resume</th>
        <th> </th>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="jobsinfo in jobsinfo.jobsinfo">
        <td><a href="#/details-view/{{jobsinfo.ad_id}}">{{jobsinfo.title}}</a></td>
        <td>{{jobsinfo.name}}</td>
        <td>{{jobsinfo.message}}</td>
        <td>{{jobsinfo.contactnum}}</td>
         <td>{{jobsinfo.email}}</td>
         <td>{{jobsinfo.applydate}}</td>
         <td><a href="../../../api/uploads/resume/{{jobsinfo.jobapplydetails_resume}}" target="blank">Resume</a></td>
       <td><a href="#/contact-applicant/{{jobsinfo.epmloyeeuserid}}" class="btn btn-warning"> Contact Applicant</a></td>
       
      </tr>
    </tbody>
</table></div>
      </div>
       </div>
    </section>
