<h1>Slider<a href="#/addSlider" class="btn btn-primary pull-right">Add New</a></h1>
<ol class="breadcrumb">
  <li class="active"> Slider </li>
</ol>
<table class="table table-hover tablesorter">
    <thead>
      <tr>
        <th>Slider Title</th>
        <th>Slider Image</th>
        <th>Slider URL</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="slide in slider.sliders">
   		<td>{{slide.slider_title}}</td>
        <td><img ng-src="../../../api/uploads/slider/{{slide.slider_image}}" width="100" class="img-thumbnail" /></td>
        <th>{{slide.slider_url}}</th>
        <th>{{slide.slider_status}}</th>
        <td><a href="#/editSlider/{{slide.slider_id}}" class="btn btn-warning">Edit</a> <button class="btn btn-danger" ng-click="deleteSlider(slide.slider_id)">Delete</button></td>
      </tr>
    </tbody>
</table>
