<h1>Edit Suburb</h1>
<ol class="breadcrumb">
  <li class="active"> <a href="#/suburbs">Suburbs</a>	</li>
  <li class="active"> Edit suburb</li>
</ol>
<div class="row">
	<div class="col-lg-5 col-lg-offset-1">
    	<form name="myForm" class="form-horizontal" role="form" novalidate>
          <div class="form-group">
            <label class="col-sm-3 control-label">Suburb Location</label>
            <div class="col-sm-8">
            	<select class="form-control" ng-model="suburbDetails.suburb[0].suburb_location_id" required ng-options="obj.location_id as obj.location_name for obj in locations.locations"></select>
            </div>
          </div>
             <div class="form-group">
            <label class="col-sm-3 control-label">Suburb Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" ng-model="suburbDetails.suburb[0].suburb_name" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Suburb Coordinates</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" ng-model="suburbDetails.suburb[0].suburb_cordinates" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
              <button class="btn btn-primary" ng-click="updateSuburb(suburbDetails.suburb[0].suburb_id)" ng-disabled="myForm.$invalid" >Update Suburb</button>
            </div>
          </div>
        </form>
    </div>
</div>