<h1>Suburbs<a href="#/addSuburbs" class="btn btn-primary pull-right">Add New</a></h1>
<ol class="breadcrumb">
  <li class="active"> Suburbs{{suburbs}}	</li>
</ol>
<table class="table table-hover tablesorter">
    <thead>
      <tr>
        <th>Suburb Name</th>
        <th>Suburb Cordinates </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="suburbs in suburbs.suburbs">
        <td>{{suburbs.suburb_name}}</td>
        <td>{{suburbs.suburb_cordinates}}</td>
        <td><a href="#/editSuburbs/{{suburbs.suburbs_id}}" class="btn btn-warning">Edit</a> <button class="btn btn-danger" ng-click="deleteSuburbs(suburbs.suburb_id)">Delete</button></td>
      </tr>
    </tbody>
</table>
