<section class="main-page">
  <div class="container">
    <div class="row">
      <ng-include src="'app/partials/home/topMostBanner.html'"></ng-include>
    </div>
    <div class="row">
      <ng-include src="'app/partials/home/topVideoBanners.html'"></ng-include>
    </div>
    <div class="row">
       <div class="ad-placeholder">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        	<ng-include src="'app/partials/home/leftBanners.html'"></ng-include>
        </div>
        <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
          <div class="row">
			<ng-include src="'app/partials/home/categoryListing.html'"></ng-include>
          </div>            
          <div class="row">
          	<ng-include src="'app/partials/home/newsListing.html'"></ng-include>
          </div>
          <div class="row">
     		<ng-include src="'app/partials/home/afterNewsFixads.html'"></ng-include>
    	  </div>
          <div class="row">
            <ng-include src="'app/partials/home/eventsListing.html'"></ng-include>
          </div>
        </div>
        <div class="col-lg-2 col-md-2  col-sm-12 col-xs-12">
        	<ng-include src="'app/partials/home/rightBanners.html'"></ng-include>
        </div>
      </div>
    </div>
  </div>
</section>
