<section class="login-page">
      <div class="container"> 
        <div class="row">
          <div class="col-lg-5"><h1>Manage Your Account</h1></div>
          <div class="col-lg-7 settings-heading">
            <div class="row">
              <div class="col-lg-3 heading-tab"><a href="#/my-profile">My Profile</a></div>
              <div class="col-lg-3 heading-tab"><a href="#/change-password">Change Password</a></div>
              <div class="col-lg-3 heading-tab active"><a href="#/my-ads">My Ads</a></div>
              <div class="col-lg-3 heading-tab"><a href="">Logout</a></div>
            </div>
          </div>
        </div>      
        <div class="row"> 
          <div class="settings-tab">          

            <!-- Tab panes -->
            <div class="tab-content">          
                
              <div class="list-group">
                    <a href="#" class="list-group-item"><span class="badge">#3414</span>Cras justo odio</a>
                    <a href="#" class="list-group-item"><span class="badge">#14</span>Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item"><span class="badge">#1544</span>Morbi leo risus</a>
                    <a href="#" class="list-group-item"><span class="badge">#156</span>Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item"><span class="badge">#14456</span>Vestibulum at eros</a>                   
              </div>          
            </div>

          </div>        
          
        </div>
      </div>
    </section>