/*@mixin transform($transform) { -webkit-transform: $transform; -moz-transform: $transform; -ms-transform: $transform; transform: $transform;
}*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

html { font-size: 87.5%; }

body { font-family: "Roboto", sans-serif; font-size: 14px; line-height: 20px; font-size: 1.4rem; line-height: 2rem; }

header { background: #ffffff; }
header .top-nav ul { display: inline; }
header .top-nav ul li { display: inline-block; text-align: center; padding: 1rem; }
header .top-nav ul li a { display: inline-block; color: #a3a0a0; text-decoration: none; -webkit-transition: all 0.7s ease-in-out; -moz-transition: all 0.7s ease-in-out; -o-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out; }
header .top-nav ul li a i { display: block; }
header .top-nav ul li a:hover { text-decoration: none; color: #a50344; }
header .top-nav ul li.active { background: #a50344; }
header .top-nav ul li.active a { color: white; }

.btn { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7e604), color-stop(100%, #dfcf00)); background: -webkit-linear-gradient(#f7e604, #dfcf00); background: -moz-linear-gradient(#f7e604, #dfcf00); background: -o-linear-gradient(#f7e604, #dfcf00); background: linear-gradient(#f7e604, #dfcf00); -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; color: #333333; border: none; font-size: 14px; line-height: 18px; font-size: 1.4rem; line-height: 1.8rem; -webkit-transition: all 0.7s ease-in-out; -moz-transition: all 0.7s ease-in-out; -o-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out; }
.btn:hover, .btn:focus, .btn.disabled { background: #747474; -webkit-transition: all 0.7s ease-in-out; -moz-transition: all 0.7s ease-in-out; -o-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out; }

.form-control, .btn { -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; height: 45px; }

.search-bar { min-height: 55px; background: #a50344; padding: 10px; }
.search-bar .search-btn { display: block; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7e604), color-stop(100%, #dfcf00)); background: -webkit-linear-gradient(#f7e604, #dfcf00); background: -moz-linear-gradient(#f7e604, #dfcf00); background: -o-linear-gradient(#f7e604, #dfcf00); background: linear-gradient(#f7e604, #dfcf00); -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; padding: 4px; text-align: center; color: #333333; -webkit-transition: all 0.7s ease-in-out; -moz-transition: all 0.7s ease-in-out; -o-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out; }
.search-bar .search-btn:hover { background: #444444; text-decoration: none; -webkit-transition: all 0.7s ease-in-out; -moz-transition: all 0.7s ease-in-out; -o-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out; color: white; }
.search-bar .form-control { height: 35px; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; }

.shadow { width: 100%; height: 5px; background-image: -webkit-gradient(radial, 50% 2px, 0, 50% 2px, 100, color-stop(0%, #aaaaaa), color-stop(100%, #ffffff)); background-image: -webkit-radial-gradient(50% 2px, #aaaaaa 0%, #ffffff 100%); background-image: -moz-radial-gradient(50% 2px, #aaaaaa 0%, #ffffff 100%); background-image: -o-radial-gradient(50% 2px, #aaaaaa 0%, #ffffff 100%); background-image: radial-gradient(50% 2px, #aaaaaa 0%, #ffffff 100%); }

.main-container { padding-top: 80px; overflow: hidden; *zoom: 1; }

.home-bg { background: url(../images/qatar-bg.jpg) no-repeat top center #e2e2de; background-size: contain; }
.home-bg .nav-buttons { padding-top: 20%; padding-bottom: 28%; }
.home-bg .nav-buttons .main-selecter { background: url(../images/Classifieds.jpg); -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; display: inline-block; min-width: 200px; min-height: 100px; text-align: center; -webkit-box-shadow: #444444 2px 2px 5px; -moz-box-shadow: #444444 2px 2px 5px; box-shadow: #444444 2px 2px 5px; font-family: "Roboto Condensed", sans-serif; font-size: 28px; line-height: 34px; font-size: 2.8rem; line-height: 3.4rem; font-weight: 700; color: #ffffff; cursor: pointer; margin-bottom: 1.5rem; position: relative; -webkit-transition: all 0.7s ease-in-out; -moz-transition: all 0.7s ease-in-out; -o-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out; margin: 20px; text-shadow: black 0 1px 3px; border: 5px solid #e4e2e3; }
.home-bg .nav-buttons .main-selecter:hover { text-decoration: none; background: url(../images/Classifieds.jpg); -webkit-transition: background-color 0.2s; -moz-transition: background-color 0.2s; -o-transition: background-color 0.2s; transition: background-color 0.2s; color: #333333; -webkit-transition: -webkit-transform 0.2s; -moz-transition: -moz-transform 0.2s; -o-transition: -o-transform 0.2s; transition: transform 0.2s; color: #a3a0a0; text-shadow: black 0 1px 3px; -webkit-transition: all 0.7s ease-in-out; -moz-transition: all 0.7s ease-in-out; -o-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out; -webkit-transform: scale(1, 1); -moz-transform: scale(1, 1); -ms-transform: scale(1, 1); -o-transform: scale(1, 1); transform: scale(1, 1); }
.home-bg .nav-buttons .main-selecter:hover:after { -webkit-transform: scale(1.1, 1.1); -moz-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); -o-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); -webkit-transition: -webkit-transform 0.2s; -moz-transition: -moz-transform 0.2s; -o-transition: -o-transform 0.2s; transition: transform 0.2s; }
.home-bg .nav-buttons .main-selecter img { display: inline; }
.home-bg .nav-buttons .main-selecter span { display: block; margin: 30% 0 30% 0; width: 100%; height: 100%; background: #a50344; }
.home-bg .nav-buttons .main-selecter.jobs { background: url(../images/jobs.jpg); }
.home-bg .nav-buttons .main-selecter:after { position: absolute; top: 0px; left: 0px; content: ''; height: 100%; width: 100%; padding: 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3); box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3); -webkit-transform: scale(0.7, 0.7); -moz-transform: scale(0.7, 0.7); -ms-transform: scale(0.7, 0.7); -o-transform: scale(0.7, 0.7); transform: scale(0.7, 0.7); -webkit-transition: -webkit-transform 0.2s; -moz-transition: -moz-transform 0.2s; -o-transition: -o-transform 0.2s; transition: transform 0.2s; }

.main-page .ad-placeholder { padding-top: 1.5rem; padding-bottom: .3rem; overflow: hidden; *zoom: 1; }
.main-page .ad-placeholder img { border: 10px solid #ffffff; -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); }
.main-page .ad-placeholder .sidebar-placeholder img { margin-bottom: 1.5rem; }
.main-page .ad-placeholder .categories { overflow: hidden; *zoom: 1; margin-bottom: 2rem; padding-bottom: 1rem; }
.main-page .ad-placeholder h1 { position: relative; text-align: center; width: 100%; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7e604), color-stop(100%, #dfcf00)); background: -webkit-linear-gradient(#f7e604, #dfcf00); background: -moz-linear-gradient(#f7e604, #dfcf00); background: -o-linear-gradient(#f7e604, #dfcf00); background: linear-gradient(#f7e604, #dfcf00); margin-bottom: 2rem; padding: 1rem; font-family: "Roboto", serif; font-weight: 700; font-size: 16px; line-height: 18px; font-size: 1.6rem; line-height: 1.8rem; text-shadow: white 0 1px 3px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; /*  &:before{ position: absolute; width: 72%; height: 17%; left: 4%; border-radius: 34%; z-index: -1; bottom: 4%; content: ""; box-shadow: 0 4px 4px rgba(0,0,0,0.47);
			  }*/ }
.main-page .ad-placeholder h1 i { float: left; }
.main-page .ad-placeholder .category-item { -webkit-transition: all 0.7s ease-in-out; -moz-transition: all 0.7s ease-in-out; -o-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out; }
.main-page .ad-placeholder .category-item .category-count { text-align: center; color: #333333; font-size: 14px; line-height: 14px; font-size: 1.4rem; line-height: 1.4rem; }
.main-page .ad-placeholder .category-item .category-heading { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #f3f3f3)); background: -webkit-linear-gradient(#fefefe, #f3f3f3); background: -moz-linear-gradient(#fefefe, #f3f3f3); background: -o-linear-gradient(#fefefe, #f3f3f3); background: linear-gradient(#fefefe, #f3f3f3); -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; padding: 1rem 1.5rem; text-align: center; -webkit-transition: all 0.7s ease-in-out; -moz-transition: all 0.7s ease-in-out; -o-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out; font-family: "Roboto Condensed", sans-serif; min-height: 130px; }
.main-page .ad-placeholder .category-item .category-heading span { display: block; padding-bottom: .5rem; }
.main-page .ad-placeholder .category-item .category-heading a { font-size: 10px; line-height: 5px; font-size: 1rem; line-height: 0.5rem; text-decoration: none; color: #333333; }
.main-page .ad-placeholder .category-item .category-heading a:hover { color: #000000; -webkit-transition: all 0.7s ease-in-out; -moz-transition: all 0.7s ease-in-out; -o-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out; }
.main-page .ad-placeholder .category-item .category-heading:hover { background: #e7d80c; }
.main-page .ad-placeholder .category-item:hover { -webkit-transform: scale(1.1, 1.1); -moz-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); -o-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }
.main-page .ad-placeholder .news-holder { padding: 1rem; margin-bottom: 1.5rem; }
.main-page .ad-placeholder .news-holder:hover { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #f2f2f2)); background: -webkit-linear-gradient(#fefefe, #f2f2f2); background: -moz-linear-gradient(#fefefe, #f2f2f2); background: -o-linear-gradient(#fefefe, #f2f2f2); background: linear-gradient(#fefefe, #f2f2f2); -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; cursor: pointer; }
.main-page .ad-placeholder .news-holder .details { font-size: 11px; line-height: 13px; font-size: 1.1rem; line-height: 1.3rem; }
.main-page .ad-placeholder .news-holder .details h4 { font-size: 14px; line-height: 18px; font-size: 1.4rem; line-height: 1.8rem; color: #333333; padding-bottom: 1rem; }
.main-page .ad-placeholder .news-item { @inlcude clearfix; font-size: 12px; line-height: 16px; font-size: 1.2rem; line-height: 1.6rem; }
.main-page .ad-placeholder .news-item P { font-size: 11px; line-height: 14px; font-size: 1.1rem; line-height: 1.4rem; }
.main-page .ad-placeholder .events-item { @inlcude clearfix; font-size: 12px; line-height: 16px; font-size: 1.2rem; line-height: 1.6rem; }
.main-page .ad-placeholder .events-item h4 { font-family: "Roboto", serif; font-size: 16px; line-height: 18px; font-size: 1.6rem; line-height: 1.8rem; padding-top: 1rem; }
.main-page .ad-placeholder .events-item span { font-size: 11px; line-height: 12px; font-size: 1.1rem; line-height: 1.2rem; padding-bottom: 1rem; color: #a3a0a0; display: block; }
.main-page .filter-bar { padding: 10px; }
.main-page .filter-bar .count { font-family: "Roboto", serif; font-weight: 300; font-size: 20px; line-height: 24px; font-size: 2rem; line-height: 2.4rem; padding-top: 10px; color: #a3a0a0; }
.main-page .filter-bar .filters a { color: #a3a0a0; }
.main-page .cateogry-listing { margin-top: 25px; }
.main-page .cateogry-listing .filter-side-bar .filter-heading { background: #a50344; text-transform: uppercase; color: white; }
.main-page .cateogry-listing .filter-side-bar .filter-heading i { padding: 10px; min-width: 40px; text-align: center; background: #747474; color: white; margin-right: 10px; }
.main-page .cateogry-listing ul { padding: 15px; }
.main-page .cateogry-listing ul li a { color: #333333; font-size: 10px; line-height: 24px; font-size: 1rem; line-height: 2.4rem; }
.main-page .cateogry-listing ul li a span { color: #a3a0a0; padding-left: 1rem; }
.main-page .cateogry-listing ul li a:hover { color: #a3a0a0; text-decoration: none; }
.main-page .cateogry-listing .filter-content { padding: 2rem 0; }
.main-page .cateogry-listing .filter-content .btn { background: #a50344; color: white; }
.main-page .cateogry-listing .filter-content.price-range-selector input { padding: 5px; float: left; width: 40%; }
.main-page .cateogry-listing .filter-content.price-range-selector input.price-min { margin-right: 5px; }
.main-page .cateogry-listing .filter-content ul li { font-size: 10px; line-height: 24px; font-size: 1rem; line-height: 2.4rem; text-transform: capitalize; }
.main-page .cateogry-listing .filter-content ul li input { vertical-align: text-top; }
.main-page .cateogry-listing .filter-content ul.brands-list { height: 252px; overflow: hidden; }
.main-page .cateogry-listing .filter-content ul.show { overflow: visible; height: auto; }
.main-page .cateogry-listing .filter-content ul.show + .show-more { display: none; }
.main-page .cateogry-listing .filter-content .show-more { color: #a3a0a0; font-size: 10px; line-height: 24px; font-size: 1rem; line-height: 2.4rem; cursor: pointer; margin-left: 15px; }
.main-page .cateogry-listing .filter-content .show-more:hover { color: #333333; }
.main-page .list-group { margin-bottom: 0; }
.main-page .item.list-group-item { float: none; width: 100%; background-color: #fff; margin-bottom: 10px; padding: 0; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; }
.main-page .item.list-group-item .list-group-item-heading { font-size: 18px; line-height: 26px; font-size: 1.8rem; line-height: 2.6rem; color: #a50344; padding: 10px 10px 0 10px; margin-bottom: 0; }
.main-page .item.list-group-item .list-group-image { margin-right: 0px; }
.main-page .item.list-group-item .thumbnail { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #f2f2f2)); background: -webkit-linear-gradient(#fefefe, #f2f2f2); background: -moz-linear-gradient(#fefefe, #f2f2f2); background: -o-linear-gradient(#fefefe, #f2f2f2); background: linear-gradient(#fefefe, #f2f2f2); -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; margin-bottom: 0px; padding: 0; cursor: pointer; overflow: hidden; *zoom: 1; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; border: none; }
.main-page .item.list-group-item .thumbnail:hover { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f1), color-stop(100%, #fefefe)); background: -webkit-linear-gradient(#f1f1f1, #fefefe); background: -moz-linear-gradient(#f1f1f1, #fefefe); background: -o-linear-gradient(#f1f1f1, #fefefe); background: linear-gradient(#f1f1f1, #fefefe); }
.main-page .item.list-group-item .caption { padding: 0px; width: 70%; float: left; }
.main-page .item.list-group-item .details { float: left; width: 70%; }
.main-page .item.list-group-item .price { width: 30%; float: left; }
.main-page .item.list-group-item .price div { clear: both; width: 100%; text-align: center; }
.main-page .item.list-group-item .price div span { display: block; text-align: right; }
.main-page .item.list-group-item .price div span.comments { font-size: 9px; line-height: 14px; font-size: 0.9rem; line-height: 1.4rem; color: #a3a0a0; padding-bottom: 10px; }
.main-page .item.list-group-item .price div span.rating { padding-top: 20px; }
.main-page .item.list-group-item .price div span.price-tag { font-size: 22px; line-height: 34px; font-size: 2.2rem; line-height: 3.4rem; text-align: right; color: #a50344; padding-top: 5px; }
.main-page .item.list-group-item:before, .main-page .item.list-group-item:after { display: table; content: " "; }
.main-page .item.list-group-item img { float: left; width: 30%; }
.main-page .item.list-group-item:after { clear: both; }
.main-page .item.list-group-item .list-group-item-text { padding-top: 0; }
.main-page .item.grid-group-item .thumbnail { padding: 0; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #f2f2f2)); background: -webkit-linear-gradient(#fefefe, #f2f2f2); background: -moz-linear-gradient(#fefefe, #f2f2f2); background: -o-linear-gradient(#fefefe, #f2f2f2); background: linear-gradient(#fefefe, #f2f2f2); -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; max-height: 323px; min-height: 323px; cursor: pointer; }
.main-page .item.grid-group-item .thumbnail:hover { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f1), color-stop(100%, #fefefe)); background: -webkit-linear-gradient(#f1f1f1, #fefefe); background: -moz-linear-gradient(#f1f1f1, #fefefe); background: -o-linear-gradient(#f1f1f1, #fefefe); background: linear-gradient(#f1f1f1, #fefefe); }
.main-page .item.grid-group-item .thumbnail .list-group-item-heading { position: absolute; margin-top: 0; background: #747474; margin-top: -36px; margin-left: 0px; padding: 0px 10px; color: white; font-size: 14px; line-height: 26px; font-size: 1.4rem; line-height: 2.6rem; }
.main-page .item.grid-group-item .thumbnail .caption { padding: 0; }
.main-page .item.grid-group-item .price { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #dbd9d9)); background: -webkit-linear-gradient(#fefefe, #dbd9d9); background: -moz-linear-gradient(#fefefe, #dbd9d9); background: -o-linear-gradient(#fefefe, #dbd9d9); background: linear-gradient(#fefefe, #dbd9d9); border-top: 1px solid #cccccc; }
.main-page .item.grid-group-item .price span { display: block; padding: 0 5px 0 10px; }
.main-page .item.grid-group-item .price span.comments { font-size: 9px; line-height: 14px; font-size: 0.9rem; line-height: 1.4rem; color: #a3a0a0; padding-bottom: 10px; }
.main-page .item.grid-group-item .price span.price-tag { font-size: 22px; line-height: 34px; font-size: 2.2rem; line-height: 3.4rem; text-align: center; color: #a50344; padding-right: 10px; padding-top: 5px; }
.main-page .item.grid-group-item .list-group-item-text { min-height: 75px; max-height: 75px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.main-page .item .list-group-item-text { margin: 0px; font-size: 11px; line-height: 14px; font-size: 1.1rem; line-height: 1.4rem; color: #333333; padding: 10px; }
.main-page .item .list-group-item-text span { font-size: 11px; line-height: 12px; font-size: 1.1rem; line-height: 1.2rem; padding-bottom: 1rem; color: #a3a0a0; display: block; }
.main-page .breadcrumb-bar { padding: 10px; background: #cccccc; font-size: 12px; line-height: 14px; font-size: 1.2rem; line-height: 1.4rem; }
.main-page .breadcrumb-bar ul { padding-left: 20px; }
.main-page .breadcrumb-bar ul li { display: inline; }
.main-page .breadcrumb-bar ul li:before { font-family: FontAwesome; font-weight: normal; font-style: normal; display: inline-block; text-decoration: inherit; content: "\f0da"; padding: 0 10px; color: #a3a0a0; }
.main-page .breadcrumb-bar ul li:first-child:before { content: ""; padding: 0px; }
.main-page .breadcrumb-bar ul li a { color: #333333; text-decoration: none; }
.main-page .breadcrumb-bar .back-link { padding-right: 20px; font-size: 12px; line-height: 14px; font-size: 1.2rem; line-height: 1.4rem; color: #333333; text-decoration: none; }
.main-page .ad-title { padding: 20px 0; }
.main-page .ad-title h2 { font-family: "Roboto", serif; font-weight: 300; font-size: 18px; line-height: 20px; font-size: 1.8rem; line-height: 2rem; }
.main-page .ad-title span { font-weight: 300; font-size: 11px; line-height: 14px; font-size: 1.1rem; line-height: 1.4rem; color: #a3a0a0; display: block; }
.main-page .ad-title span i { color: #e7d80c; }
.main-page .ad-title span i.glyphicon-star-empty { color: #a3a0a0; }
.main-page .ad-detail .carousel { display: inline-block; }
.main-page .ad-detail .carousel .carousel-control { /*margin-bottom: 80px;*/ }
.main-page .ad-detail .carousel .carousel-indicators { bottom: 25px; }
.main-page .ad-detail ul.thumbnails-carousel { padding: 5px 0 0 0; margin: 0; list-style-type: none; text-align: center; }
.main-page .ad-detail ul.thumbnails-carousel .center { display: inline-block; }
.main-page .ad-detail ul.thumbnails-carousel li { margin-right: 5px; float: left; cursor: pointer; }
.main-page .ad-detail .controls-background-reset { background: none !important; }
.main-page .ad-detail .active-thumbnail { opacity: 0.4; }
.main-page .ad-detail .indicators-fix { bottom: 70px; }
.main-page .ad-detail .Flexible-container { position: relative; padding-bottom: 26.25%; padding-top: 30px; height: 0; overflow: hidden; margin-bottom: 20px; margin-top: 5px; }
.main-page .ad-detail .Flexible-container iframe, .main-page .ad-detail .Flexible-container object, .main-page .ad-detail .Flexible-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.main-page .ad-detail .ad-description .ad-price { font-size: 34px; line-height: 18px; font-size: 3.4rem; line-height: 1.8rem; font-weight: 300; }
.main-page .ad-detail .ad-description .ad-location { font-size: 11px; line-height: 14px; font-size: 1.1rem; line-height: 1.4rem; }
.main-page .ad-detail .ad-description .ad-location span { display: block; }
.main-page .ad-detail .ad-description p { font-size: 11px; line-height: 14px; font-size: 1.1rem; line-height: 1.4rem; color: #333333; padding: 5px; }
.main-page .ad-detail .ad-description ul { padding: 20px 20px 0 20px; }
.main-page .ad-detail .ad-description ul li { font-size: 11px; line-height: 18px; font-size: 1.1rem; line-height: 1.8rem; color: #333333; }
.main-page .ad-detail .ad-description .contact-no, .main-page .ad-detail .ad-description .comments-btn { padding-top: 20px; padding-bottom: 20px; }
.main-page .ad-detail .ad-description .contact-no i, .main-page .ad-detail .ad-description .comments-btn i { padding-right: 10px; font-size: 20px; line-height: 18px; font-size: 2rem; line-height: 1.8rem; }
.main-page .ad-comments-viewer { background: #747474; padding-bottom: 50px; }
.main-page .ad-comments-viewer .container { position: relative; }
.main-page .ad-comments-viewer .comments-box { padding: 20px 15px; }
.main-page .ad-comments-viewer .comments-box .detailBox { background: whitesmoke; border: 1px solid #bbb; margin: 10px 0; }
.main-page .ad-comments-viewer .comments-box .actionBox .form-group:first-child { width: 80%; }
.main-page .ad-comments-viewer .comments-box .actionBox .form-group:nth-child(2) { width: 18%; }
.main-page .ad-comments-viewer .comments-box .actionBox .form-group * { width: 100%; }
.main-page .ad-comments-viewer .comments-box .commentList { padding: 0; list-style: none; max-height: 250px; overflow: auto; }
.main-page .ad-comments-viewer .comments-box .commentList li { margin: 0; margin-top: 10px; }
.main-page .ad-comments-viewer .comments-box .commentList li > div { display: table-cell; }
.main-page .ad-comments-viewer .comments-box .commentText p { margin: 0; color: #333333; }
.main-page .ad-comments-viewer .comments-box .sub-text { color: #aaa; font-family: verdana; font-size: 11px; }
.main-page .ad-comments-viewer .comments-box .actionBox { border-top: 1px solid #bbb; padding: 20px; }
.main-page .ad-comments-viewer h2 { color: white; font-size: 20px; line-height: 18px; font-size: 2rem; line-height: 1.8rem; font-family: "Roboto", serif; margin-bottom: 20px; text-transform: uppercase; }
.main-page .ad-comments-viewer p { font-size: 12px; line-height: 16px; font-size: 1.2rem; line-height: 1.6rem; color: white; }
.main-page .ad-comments-viewer span { font-size: 12px; line-height: 16px; font-size: 1.2rem; line-height: 1.6rem; color: white; display: block; }
.main-page .ad-comments-viewer span.rating { padding-top: 20px; }
.main-page .ad-comments-viewer span.rating i { color: #e7d80c; }
.main-page .ad-comments-viewer span.rating i.glyphicon-star-empty { color: #a3a0a0; }
.main-page .ad-comments-viewer span.rating .btn { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7e604), color-stop(100%, #dfcf00)); background: -webkit-linear-gradient(#f7e604, #dfcf00); background: -moz-linear-gradient(#f7e604, #dfcf00); background: -o-linear-gradient(#f7e604, #dfcf00); background: linear-gradient(#f7e604, #dfcf00); -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; color: #333333; border: none; font-size: 12px; line-height: 18px; font-size: 1.2rem; line-height: 1.8rem; -webkit-transition: all 0.7s ease-in-out; -moz-transition: all 0.7s ease-in-out; -o-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out; }
.main-page .ad-comments-viewer span.rating .btn:hover, .main-page .ad-comments-viewer span.rating .btn:focus, .main-page .ad-comments-viewer span.rating .btn.disabled { background: #a50344; -webkit-transition: all 0.7s ease-in-out; -moz-transition: all 0.7s ease-in-out; -o-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out; color: white; }
.main-page .ad-comments-viewer .viewer-btn { position: absolute; bottom: -50px; right: 0; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dbd9d9), color-stop(100%, #fefefe)); background: -webkit-linear-gradient(#dbd9d9, #fefefe); background: -moz-linear-gradient(#dbd9d9, #fefefe); background: -o-linear-gradient(#dbd9d9, #fefefe); background: linear-gradient(#dbd9d9, #fefefe); padding: 10px 20px; }
.main-page .ad-comments-viewer .viewer-btn i { color: #a3a0a0; }
.main-page .related-content { /* Reposition the controls slightly */ /* Changes the position of the indicators */ /* Changes the colour of the indicators */ }
.main-page .related-content h2 { color: #333333; font-size: 20px; line-height: 18px; font-size: 2rem; line-height: 1.8rem; font-family: "Roboto", serif; padding: 20px 0; text-transform: uppercase; }
.main-page .related-content .carousel { margin-bottom: 0; padding: 30px 40px 30px 40px; }
.main-page .related-content .carousel-control { left: -12px; }
.main-page .related-content .carousel-control.right { right: -12px; }
.main-page .related-content .carousel-indicators { right: 50%; top: auto; bottom: 0px; margin-right: -19px; }
.main-page .related-content .carousel-indicators li { background: #c0c0c0; }
.main-page .related-content .carousel-indicators .active { background: #333333; }

.post-ads { background: #a50344; padding: 5rem; text-align: center; }
.post-ads .main-text { text-align: center; color: white; font-family: "Roboto", serif; font-weight: 300; font-size: 18px; line-height: 20px; font-size: 1.8rem; line-height: 2rem; }
.post-ads .post-ad-btn { background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7e604), color-stop(100%, #dfcf00)); background: -webkit-linear-gradient(#f7e604, #dfcf00); background: -moz-linear-gradient(#f7e604, #dfcf00); background: -o-linear-gradient(#f7e604, #dfcf00); background: linear-gradient(#f7e604, #dfcf00); -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; padding: 2.0rem 7.0rem; display: inline-block; margin-top: 2.0rem; color: black; font-size: 22px; line-height: 24px; font-size: 2.2rem; line-height: 2.4rem; font-weight: 300; -webkit-transition: all 0.7s ease-in-out; -moz-transition: all 0.7s ease-in-out; -o-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
.post-ads .post-ad-btn:hover { text-decoration: none; background: #444444; -webkit-transition: all 0.7s ease-in-out; -moz-transition: all 0.7s ease-in-out; -o-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out; color: white; }

.post-single-ad { padding: 50px 0 50px 0; }
.post-single-ad h3.message { text-align: center; background: #c8f0d5; border: 1px solid #a1d3b2; padding: 15px; }
.post-single-ad .top-breadcrumb { background: #a50344; color: white; text-align: center; margin-bottom: 15px; }
.post-single-ad .top-breadcrumb div { padding: 15px; }
.post-single-ad .top-breadcrumb div.active { background: #747474; }
.post-single-ad .panel-default { margin: 40px 0; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; }
.post-single-ad .panel-default .panel-heading, .post-single-ad .panel-default .panel-footer { background: #f1f1f1; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; padding: 20px; color: #333333; }
.post-single-ad .panel-default .panel-heading h3, .post-single-ad .panel-default .panel-footer h3 { font-size: 14px; line-height: 18px; font-size: 1.4rem; line-height: 1.8rem; }
.post-single-ad .panel-default .form-horizontal { font-size: 12px; line-height: 14px; font-size: 1.2rem; line-height: 1.4rem; }
.post-single-ad .panel-default .form-horizontal input, .post-single-ad .panel-default .form-horizontal textarea { max-width: 500px; }
.post-single-ad .panel-default .form-horizontal label { font-size: 12px; line-height: 14px; font-size: 1.2rem; line-height: 1.4rem; }
.post-single-ad .panel-default .form-horizontal select { max-width: 300px; }
.post-single-ad .panel-default .form-horizontal input[type="file"] { max-width: 240px; }
.post-single-ad .panel-default .form-horizontal .price-selection { display: inline; }
.post-single-ad .panel-default .form-horizontal .price-selection .price-tag { max-width: 100px; margin-right: 10px; }
.post-single-ad .panel-default .form-horizontal .terms { font-size: 11px; line-height: 14px; font-size: 1.1rem; line-height: 1.4rem; }
.post-single-ad.review .form-horizontal .control-label { padding-top: 0; }
.post-single-ad.review .confirm-text { font-size: 11px; line-height: 14px; font-size: 1.1rem; line-height: 1.4rem; padding: 20px 0; }
.post-single-ad.review table { margin: 30px auto; float: none; }
.post-single-ad.review table td { padding: 5px 10px; }
.post-single-ad.review table td strong { font-weight: 700; }

.contact { padding-bottom: 50px; }
.contact address { font-size: 12px; line-height: 18px; font-size: 1.2rem; line-height: 1.8rem; }
.contact h1 { padding: 50px 0 20px; font-size: 22px; line-height: 24px; font-size: 2.2rem; line-height: 2.4rem; }
.contact h2 { font-size: 16px; line-height: 18px; font-size: 1.6rem; line-height: 1.8rem; font-weight: 700; padding-bottom: 10px; }
.contact span { display: block; }
.contact span i { width: 30px; }

.maps .google-maps { position: relative; padding-bottom: 15%; height: 0; overflow: hidden; }
.maps .google-maps iframe { position: absolute; top: 0; left: 0; width: 100% !important; height: 100% !important; }

.login-page { padding: 50px 0 50px 0; }
.login-page h1 { font-size: 22px; line-height: 24px; font-size: 2.2rem; line-height: 2.4rem; font-family: "Roboto", serif; }
.login-page h2 { margin: 0 0 10px 0; }
.login-page .login-form, .login-page .registration-form { padding: 30px; background: #f1f1f1; margin: 30px 0; }
.login-page .login-form label, .login-page .registration-form label { font-size: 11px; line-height: 14px; font-size: 1.1rem; line-height: 1.4rem; }
.login-page .login-form .btn, .login-page .registration-form .btn { width: auto; -webkit-transition: all 0.7s ease-in-out; -moz-transition: all 0.7s ease-in-out; -o-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out; }
.login-page .login-form .btn:hover, .login-page .registration-form .btn:hover { color: white; -webkit-transition: all 0.7s ease-in-out; -moz-transition: all 0.7s ease-in-out; -o-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out; }
.login-page .login-form .upgrade, .login-page .registration-form .upgrade { font-size: 16px; line-height: 20px; font-size: 1.6rem; line-height: 2rem; padding: 10px 70px; height: auto; }
.login-page .login-form .forgot-pass, .login-page .registration-form .forgot-pass { font-size: 9px; line-height: 14px; font-size: 0.9rem; line-height: 1.4rem; color: #a3a0a0; }
.login-page .settings-heading .heading-tab { background: #a50344; border-right: 1px solid white; font-size: 12px; line-height: 20px; font-size: 1.2rem; line-height: 2rem; height: 40px; padding: 5px; text-align: center; }
.login-page .settings-heading .heading-tab a { color: white; }
.login-page .settings-heading .heading-tab a:hover { text-decoration: none; }
.login-page .settings-heading .heading-tab.active { background: #747474; }
.login-page .settings-heading .heading-tab.active a { color: white; }
.login-page .settings-heading .heading-tab:hover { background: #747474; color: white; }
.login-page .settings-tab { padding-top: 30px; font-size: 12px; line-height: 14px; font-size: 1.2rem; line-height: 1.4rem; }
.login-page .settings-tab .user-details { padding-bottom: 20px; }
.login-page .settings-tab .registration-form { overflow: hidden; *zoom: 1; }
.login-page .settings-tab ul li a { font-size: 14px; line-height: 18px; font-size: 1.4rem; line-height: 1.8rem; color: #333333; }
.login-page .settings-tab .list-group { padding: 30px 0; font-size: 12px; line-height: 14px; font-size: 1.2rem; line-height: 1.4rem; }
.login-page .settings-tab .password-update form { width: 40%; }
.login-page .settings-tab p { padding-bottom: 10px; font-size: 12px; line-height: 14px; font-size: 1.2rem; line-height: 1.4rem; }
.login-page .settings-tab table tr td { padding: 5px 10px; vertical-align: top; }
.login-page.job-applicant { padding-top: 30px; font-size: 12px; line-height: 14px; font-size: 1.2rem; line-height: 1.4rem; }
.login-page.job-applicant table { margin-top: 30px; }
.login-page.job-applicant table tr th { font-weight: 700; background: #cccccc; }
.login-page.job-applicant .btn { font-size: 12px; line-height: 14px; font-size: 1.2rem; line-height: 1.4rem; height: 35px; }
.login-page.job-applicant a { color: #a3a0a0; }

.packages { padding: 30px 0; }
.packages h1 { font-size: 22px; line-height: 24px; font-size: 2.2rem; line-height: 2.4rem; font-family: "Roboto", serif; padding: 20px 0; }
.packages .panel-info, .packages .panel { overflow: hidden; *zoom: 1; }
.packages ul li { font-size: 12px; line-height: 14px; font-size: 1.2rem; line-height: 1.4rem; }
.packages .premium-package .panel, .packages .free-package .panel { padding-bottom: 0px; box-shadow: none; margin-bottom: 0; }
.packages .premium-package .main-panel, .packages .free-package .main-panel { padding-bottom: 15px; }

.news-events h1, .inner-pages h1 { font-size: 22px; line-height: 24px; font-size: 2.2rem; line-height: 2.4rem; font-family: "Roboto", serif; padding: 30px 0; }
.news-events .news-event-content, .inner-pages .news-event-content { overflow: hidden; *zoom: 1; padding-bottom: 30px; }
.news-events .news-event-content p, .inner-pages .news-event-content p { font-size: 11px; line-height: 14px; font-size: 1.1rem; line-height: 1.4rem; padding: 5px 0; }
.news-events .news-event-content ul, .inner-pages .news-event-content ul { margin-left: 20px; }
.news-events .news-event-content ul li, .inner-pages .news-event-content ul li { list-style-type: disc; font-size: 12px; line-height: 16px; font-size: 1.2rem; line-height: 1.6rem; }
.news-events .news-event-content ul li a, .inner-pages .news-event-content ul li a { color: #333333; }
.news-events .news-event-content ul li a:hover, .inner-pages .news-event-content ul li a:hover { color: #a3a0a0; text-decoration: none; }
.news-events .news-event-content img, .inner-pages .news-event-content img { padding-right: 20px; }
.news-events .panel-body, .inner-pages .panel-body { font-size: 11px; line-height: 14px; font-size: 1.1rem; line-height: 1.4rem; padding: 15px; }

.pagination ul.pagination { padding: 0; }
.pagination ul.pagination li a { font-size: 12px; line-height: 14px; font-size: 1.2rem; line-height: 1.4rem; color: #333333; }
.pagination ul.pagination li.active a { background: #a50344; color: white; border: 1px solid #cccccc; }
.pagination ul.pagination li.active a:hover { color: #333333; background: #e7d80c; }

.modal .modal-title { font-family: "Roboto", serif; font-size: 18px; line-height: 24px; font-size: 1.8rem; line-height: 2.4rem; }
.modal p { font-size: 11px; line-height: 14px; font-size: 1.1rem; line-height: 1.4rem; padding: 5px 0; }
.modal input { max-width: 300px; }
.modal label { font-size: 12px; line-height: 14px; font-size: 1.2rem; line-height: 1.4rem; }

.alert { -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; font-size: 10px; line-height: 14px; font-size: 1rem; line-height: 1.4rem; position: fixed; top: 0; width: 100%; z-index: 1999; }

footer { text-align: center; font-family: "Roboto", serif; background: #f8f8f8; }
footer p { color: #a3a0a0; font-size: 10px; line-height: 12px; font-size: 1rem; line-height: 1.2rem; font-weight: 300; padding: 10px 0; }
footer i { color: #a3a0a0; padding: 10px; -webkit-transition: all 0.7s ease-in-out; -moz-transition: all 0.7s ease-in-out; -o-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out; }
footer i:hover { color: #a50344; cursor: pointer; }
footer .footer-text { padding: 5px 10px 50px; color: #a3a0a0; font-size: 12px; line-height: 20px; font-size: 1.2rem; line-height: 2rem; }
footer .footer-text a { color: #a3a0a0; }
footer .footer-text a:hover { color: #333333; text-decoration: none; }

.ta-editor { min-height: 300px; height: auto; overflow: auto; font-family: inherit; font-size: 100%; }

@media only screen and (max-width: 1199px) { .contact-no, .comments-btn { font-size: 12px; line-height: 20px; font-size: 1.2rem; line-height: 2rem; padding: 10px; } }
@media only screen and (max-width: 991px) { html { font-size: 87.5%; }
  .home-bg { background-size: cover; }
  .search-bar .keyword, .search-bar .category, .search-bar .location { padding: 10px 15px; }
  .search-bar .location { padding-bottom: 20px; }
  .ad-description { padding-top: 20px; }
  .ad-description .contact-no, .ad-description .comments-btn { font-size: 10px; line-height: 20px; font-size: 1rem; line-height: 2rem; padding: 10px; } }

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.front, .back {
	width: 100%;
	height:170px;
}

.flip-container{
	height:170px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}