<div class="form-group">
  	<label for="Description" class="col-sm-2 control-label">Select Brand</label>
    <div class="col-sm-10">
	    <select class="form-control" ng-model="ad.advertisement_attributes.brand" required>
        	<option value="acer">Acer</option>
            <option value="ag-tel">Ag-tel</option>
            <option value="alcatel">Alcatel</option>
            <option value="apple">Apple</option>
            <option value="asus">Asus</option>
            <option value="benq">BenQ</option>
            <option value="blackberry">Blackberry</option>
            <option value="china-mobile">China Mobile</option>
            <option value="dell">Dell</option>
            <option value="dialog">Dialog</option>
            <option value="e-tel">E-tel</option>
            <option value="greentel">Greentel</option>
            <option value="google-nexus">Google Nexus</option>
            <option value="hp">HP</option>
            <option value="htc">HTC</option>
            <option value="huawei">Huawei</option>
            <option value="i-mate">I-Mate</option>
            <option value="ipro">iPro</option>
            <option value="lg">LG</option>
            <option value="mega-gate">Mega Gate</option>
            <option value="micromax">Micromax</option>
            <option value="motorola">Motorola</option>
            <option value="nokia">Nokia</option>
            <option value="palm">Palm</option>
            <option value="philips">Philips</option>
            <option value="q-mobile">Q Mobile</option>
            <option value="samsung">Samsung</option>
            <option value="sky">Sky</option>
            <option value="sony">Sony</option>
            <option value="sony-ericsson">Sony Ericsson</option>
            <option value="zigo">Zigo</option>
            <option value="zte">ZTE</option>
            <option value="all_other">Other brands</option>
        </select>
    </div>
</div>
<div class="form-group">
  	<label for="Description" class="col-sm-2 control-label">Features</label>
    <div class="col-sm-10">
	    <label class="checkbox">
        	<input type="checkbox" ng-model="ad.advertisement_attributes.touchscreen"/> Touchscreen
        </label>
        <label class="checkbox">
        	<input type="checkbox" ng-model="ad.advertisement_attributes.replica"/> Replica
        </label>
    </div>
</div>