<section class="post-single-ad">
  <div class="container">
    <div class="row top-breadcrumb">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 active"><i class="fa fa-arrow-circle-o-right fa-lg"></i> Fill In Details</div> 
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><i class="fa fa-arrow-circle-o-right fa-lg"></i> Check Your Ad</div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><i class="fa fa-arrow-circle-o-right fa-lg"></i> Confirmation</div> 
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default">
           <div class="panel-heading">
            <h3 class="panel-title">Fill Your Details</h3>
           </div>
            <div class="panel-body">
           <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="category" class="col-sm-2 control-label">Category</label>
              <div class="col-sm-10">
            <select class="form-control">
             <option>cat1</option>
             <option>cat2</option>
             <option>cat3</option>
             <option>cat4</option>
            </select>
              </div>
            </div>
            <div class="form-group">
              <label for="title" class="col-sm-2 control-label">Ad Title</label>
              <div class="col-sm-10">
                <input type="title" class="form-control" id="title"
                 placeholder="Enter Title">
              </div>
            </div>
            <div class="form-group">
              <label for="Description" class="col-sm-2 control-label">Description</label>
              <div class="col-sm-10">
           <textarea name="" cols="" rows="" class="form-control"></textarea>
              </div>
            </div>
             <div class="form-group">
              <label for="price" class="col-sm-2 control-label">Price</label>
           <div class="col-sm-10">
             <div class="input-group input-group-sm">
               <span class="input-group-addon">QR</span>
              <input type="text" class="form-control price-tag" placeholder="">
            </div>
            </div>
            </div>
            <div class="form-group">
              <label for="upload" class="col-sm-2 control-label">Upload Photos</label>
              <div class="col-sm-10">
                <input type="file" class="form-control" id="upload">
              </div>
            </div>             
          <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox terms">
                  <label>
                    <input type="checkbox">I accept terms and conditions
                  </label>
                </div>
              </div>
            </div> 
          </form>
            </div>
            <div class="panel-footer" style="overflow:hidden;text-align:right;">
              <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Check Your Ad</button>                    
              </div>
            </div>  
            </div>
          </div>
      </div>
    </div>
  </div>
</section>