<section class="login-page post-single-ad">
  <div class="container"> 
    <div class="row">
      <div class="col-lg-5"><h1>Edit Ad</h1></div>
      <div class="col-lg-7 settings-heading">
        <div class="row">
          <div class="col-lg-3 heading-tab"><a href="#/my-profile">My Profile</a></div>
          <div class="col-lg-3 heading-tab"><a href="#/change-password">Change Password</a></div>
          <div class="col-lg-3 heading-tab active"><a href="#/my-ads">My Ads</a></div>
          <div class="col-lg-3 heading-tab"><a href="#/view-applyjobs">Job Applicants</a></div>
        </div>
      </div>
    </div>    
    <div class="row"> 
      <div class="settings-tab">          

        <!-- Tab panes -->
        <div class="tab-content">          
            
          <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Fill Your Details</h3>
          </div>
          <div class="panel-body">
          <form class="form-horizontal" name="adUpload" role="form">
            <div class="form-group">
              <label for="title" class="col-sm-2 control-label">Ad Title</label>
              <div class="col-sm-10">
                <input type="title" class="form-control" ng-model="ad.advertisement_title" required >
              </div>
            </div>
            <ng-include src="templatePath"></ng-include>
            <div class="form-group">
              <label for="Description" class="col-sm-2 control-label">Description</label>
              <div class="col-sm-10">
                <!--<textarea class="form-control" ng-model="ad.advertisement_description" rows="10"></textarea>-->
                <div text-angular="text-angular" name="htmlcontent" ng-model="ad.advertisement_description"  ta-toolbar="[]"></div>
              </div>
            </div>
            <div class="form-group">
              <label for="price" class="col-sm-2 control-label">Price</label>
              <div class="col-sm-10">
                <div class="input-group input-group-sm price-selection">                	
                  	<input type="text" class="form-control price-tag" ng-model="ad.advertisement_price">
                     <select class="form-control price-tag" required ng-model="ad.currency">
                        <option value="QR" selected>QR</option>
                          <option value="USD">USD</option>
                      </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="Description" class="col-sm-2 control-label">Images</label>
              <div class="col-sm-10">
              	<span ng-repeat="images in imagesList">
                	<img ng-src="../api/uploads/advertisement/{{images.advertisement_image}}" width="150"> 
                	<a href="" ng-click="deleteImage(images.advertisement_image)" class="badge">X</a>
                </span>
                <br/>
              	<input type="file" multiple nv-file-select=""  uploader="uploader" options="{'alias':'advertismentImage','queueLimit':5}" ng-model="ad.advertismentImage"/>
           {{ad.advertismentImage}}
              </div>
            <!--     <div class="col-sm-8">
              <input type="file" file-model="news.news_image">
              <input type="file" nv-file-select=""  uploader="uploader" options="{'alias':'news_image'}" ng-model="news.news_image" />
            </div> -->
            </div>
            <div class="form-group">
              <label for="contactName" class="col-sm-2 control-label">Contact Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="ad.advertisement_contactName" required >
              </div>
            </div>
            <div class="form-group">
              <label for="contactNo" class="col-sm-2 control-label">Contact No</label>
              <div class="col-sm-10">
                <input type="tel" class="form-control" ng-model="ad.advertisement_contactNo" required >
              </div>
            </div>
            <div class="form-group">
              <label for="contactNo" class="col-sm-2 control-label">Location</label>
              <div class="col-sm-10">
              	<select class="form-control" ng-model="ad.advertisement_location" required ng-options="location.location_id as location.location_name for location in locationList.locations" ng-change="changeLoc()">
                	<option>location</option>
                </select>
              </div>
            </div>
			<div class="form-group">
              <label for="contactNo" class="col-sm-2 control-label">Suburb</label>
              <div class="col-sm-10">
              	<select class="form-control" ng-model="ad.advertisement_suburb" ng-disabled="!ad.advertisement_location" required ng-options="{{suburbOptions}}">

                	<option>test</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="contactNo" class="col-sm-2 control-label"></label>
              <div class="col-lg-5">
      <!--     <a href="#/review-ad/{{adId}}">	<button class="btn btn-success pull-left" ng-click="updateAd()" >Update Ad</button></a>
       -->  <button class="btn btn-success pull-left" ng-click="updateAd()" >Update Ad</button>
        
              </div>
              <div class="col-lg-3" style="font-style: italic;" align="right">
           <a href="javascript:history.go(-1)">Go Back</a>
              </div>
            </div>
          </form>
        </div>          
        </div>

      </div>        
      
    </div>
  </div>
</section>