<section class="login-page">
      <div class="container"> 
        <div class="row">
          <div class="col-lg-5"><h1>Manage Your Account</h1></div>
          <div class="col-lg-7 settings-heading">
            <div class="row">
              <div class="col-lg-3 heading-tab"><a href="#/my-profile">My Profile</a></div>
              <div class="col-lg-3 heading-tab active"><a href="#/change-password">Change Password</a></div>
              <div class="col-lg-3 heading-tab"><a href="#/my-ads">My Ads</a></div>
              <div class="col-lg-3 heading-tab"><a href="#/view-applyjobs">Job Applicants</a></div>
            </div>
          </div>
        </div>      
        <div class="row"> 
          <div class="settings-tab">          

            <!-- Tab panes -->
            <div class="tab-content">          
               <form role="form" name="pswdChangeForm" autocomplete="off">  
              <div class="registration-form password-update">
                  <h2><i class="fa fa-user"></i> Change Password</h2>
                                     
                     <div class="form-group">
                       <label>Current Password</label>
                       <input type="password" value="" class="form-control" ng-model="userSetting.user[0].user_password" required >
                     </div>
                    <div class="form-group">
                      <label>New Password</label>
                      <input type="password" value="" class="form-control" ng-model="userSetting.user[0].user_New_password"   >
                    </div>
                    <div class="form-group">
                      <label>Confirm Password</label>
                      <input type="password" value="" class="form-control" ng-model="userSetting.user[0].user_confirmPassword"  >
                    </div>
                    <div>
                      <button class="btn btn-primary" ng-click="updateUserPw()" ng-disabled="pswdChangeForm.$invalid">Change Password</button>
                    </div>
                
                </div>
                </form>
            </div>

          </div>        
          
        </div>
      </div>
    </section>