<section class="packages">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Select Best Plan</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 free-package">
        <div class="panel panel-info main-panel">
          <div class="panel">
            <div class="panel-heading">
              <h3 class="text-center">FREE PACKAGES</h3>
            </div>
            <div class="col-md-12">
              <div class="panel panel-danger">
                <div class="panel-heading">
                  <h3 class="text-center">FREE PACKAGES</h3>
                </div>
                <div class="panel-body text-center">
                  <p class="lead" style="font-size:40px"><strong>FREE</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center">
                  <li class="list-group-item">Review Products</li>
                  <li class="list-group-item">Post Comments</li>
                  <li class="list-group-item">Account Manager</li>
                  <li class="list-group-item">Email Notifications</li>
                  <li class="list-group-item">Limited Account Access</li>
                  <li class="list-group-item">Post Upto 3 Prodcuts</li>
                </ul>
                <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#/post-ad">Try Free</a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 premium-package">
        <div class="row">
          <div class="panel panel-info main-panel">
            <div class="panel">
              <div class="panel-heading">
                <h3 class="text-center">PREMIUM PACKAGES</h3>
              </div>
              <div class="col-md-4">
                <div class="panel panel-success">
                  <div class="panel-heading">
                    <h3 class="text-center">PREMIUM CLASSIFIED</h3>
                  </div>
                  <div class="panel-body text-center">
                    <p class="lead" style="font-size:40px"><strong>$10 / month</strong></p>
                  </div>
                  <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">Review Products</li>
                    <li class="list-group-item">Post Comments</li>
                    <li class="list-group-item">Account Manager</li>
                    <li class="list-group-item">Email Notifications</li>
                    <li class="list-group-item"><strong>Full Account Access</strong></li>
                    <li class="list-group-item"><strong>Unlimited Post</strong></li>
                  </ul>
                  <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#/payment-details">BUY NOW!</a> </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="text-center">PREMIUM JOBSEEKER</h3>
                  </div>
                  <div class="panel-body text-center">
                    <p class="lead" style="font-size:40px"><strong>$10 / month</strong></p>
                  </div>
                  <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">Review Products</li>
                    <li class="list-group-item">Post Comments</li>
                    <li class="list-group-item">Account Manager</li>
                    <li class="list-group-item">Email Notifications</li>
                    <li class="list-group-item"><strong>Full Account Access</strong></li>
                    <li class="list-group-item"><strong>Unlimited Post</strong></li>
                  </ul>
                  <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#/payment-details">BUY NOW!</a> </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="panel panel-warning">
                  <div class="panel-heading">
                    <h3 class="text-center">PREMIUM EMPLOYER</h3>
                  </div>
                  <div class="panel-body text-center">
                    <p class="lead" style="font-size:40px"><strong>$10 / month</strong></p>
                  </div>
                  <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">Review Products</li>
                    <li class="list-group-item">Post Comments</li>
                    <li class="list-group-item">Account Manager</li>
                    <li class="list-group-item">Email Notifications</li>
                    <li class="list-group-item"><strong>Full Account Access</strong></li>
                    <li class="list-group-item"><strong>Unlimited Post</strong></li>
                  </ul>
                  <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#/payment-details">BUY NOW!</a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
