<section class="main-page" ng-controller="addvertismentController">  

  <div class="breadcrumb-bar">
    <div class="container">
      <div class="row">
        <ul class="pull-left">
          <li ng-if="adversiment.job"><a href="#/portal/jobs">All Jobs</a></li>
          <li ng-if="!adversiment.job"><a href="#/portal/classified">All Classifieds</a></li>
          <li><a href="javascript:history.go(-1)">{{adversiment.advertisment[0].category_sub_name}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="ad-title">
    <div class="container">
      <div class="row" ><!--addvertisment-->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
          <h2>{{adversiment.advertisment[0].advertisement_title}}</h2>
          <span>Posted by {{adversiment.advertisment[0].advertisement_contactName}}, {{adversiment.advertisment[0].date}} 
          {{adversiment.advertisment[0].time}}, {{adversiment.advertisment[0].location_name}}</span> </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 rating-bar text-right"> 
        	<span class="rating">
            	<rating ng-model="rate" readonly="isReadonly" ></rating>
            </span> 
            <span class="comments" ng-if="comments.comments.length">{{comments.comments.length}} Comments</span> 
        </div>
      </div> 
      <!--addvertisment-->
    </div>
  </div>
  <div class="ad-detail">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6"> 
          <!-- bootstrap carousel -->
          <div class="carousel slide" > 
            	<carousel interval="3000" ng-if="adversiment.images.length > 0">
                  <slide ng-repeat="slide in adversiment.images" active="slide.active">
                    <img ng-src="../api/uploads/advertisement/{{slide.advertisement_image}}" style="margin:auto;">
                    <div class="carousel-caption">

                    </div>
                  </slide>
                </carousel>
                <img ng-if="!adversiment.images" ng-src="images/no_image_large.jpg" style="margin:auto;">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 ad-description">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ad-price">
            	<div>
                	<span class="currency">{{adversiment.advertisment[0].currency}}</span>
                    <span>{{adversiment.advertisment[0].advertisement_price}}</span>
                </div>
             </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ad-location text-right">Location<span> {{adversiment.advertisment[0].suburb_name}}, {{adversiment.advertisment[0].location_name}}</span></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="Flexible-container">
              	<div id="map-canvas" style="height:100%; top:0; bottom:0; left:0; right:0; position:absolute" data-tap-disabled="true"></div>
              </div>
              <p ng-bind-html="adversiment.advertisment[0].advertisement_description"></p>
              <ul>
                <li ng-repeat="(key, value) in attr">{{value}}</li>
              </ul>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 contact-no"> <i class="fa fa-phone fa-2x"></i> {{adversiment.advertisment[0].advertisement_contactNo}} </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 comments-btn text-right"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ad-comments-viewer">
        <div class="container">
      <div class="row" ng-hide="">
           
              <div class="col-lg-7 col-md-7 comments-box" >
                <h2>Comments</h2>         
                <div class="detailBox">               
                     <div class="actionBox">
                      <form class="form-inline" role="form" ng-if="username">
                            <div class="form-group">
                                <input class="form-control" type="text" ng-model="comments.bodyz" placeholder="Your comments" />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default" ng-disabled="!comments.bodyz" ng-click="addComment()">Add</button>
                            </div>
                        </form>
                        <ul class="commentList" ng-if="comments.comments.length > 0" ng-repeat="comment in comments.comments">
                            <li>                                
                                <div class="commentText">
                                    <p class="">{{comment.Comment}}.</p> <span class="date sub-text">on {{comment.comment_Date}}</span>

                                </div>
                            </li>
                        </ul>
                        
                        <ul class="commentList" ng-if="!comments.comments.length > 0" >
                            <li>                                
                                <div class="commentText">
                                    <p ng-if="username">No comments made yet.. be the first one to comment</p>
									<p ng-if="!username">No comments made yet.. please login to comment </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
              </div>
              <div class="col-lg-5 col-md-5 comments-box">
                <h2>Rate This Ad</h2>
                <span class="rating" >
                	<rating ng-model="rateAdd" max="ratingMax" ></rating>
                    <br/><button class="btn" ng-click="Addrate()">Rate now</button>
                </span>
<!--            	<span class="comments" ng-if="comments.comments.length">{{comments.comments.length}} Comments</span>
                <span class="comments" ng-if="!comments.comments.length">No Comments Yet</span>-->
              </div>
            </div>
            <!--<div class="viewer-btn"><i class="fa fa-angle-double-up fa-2x"></i></div>-->
          </div>          
        </div>
        <div ng-if="adversiment.job && username" ng-include="'app/partials/detailsView/applyjobs.html'"></div>
  <div class="related-content visible-lg">
    <div class="container">
      <div class="row">
        <h2>You might also like...</h2>
        <div class="shadow"></div>
        
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
          <ol class="carousel-indicators">
            <li ng-if="item1" data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li ng-if="item5" data-target="#myCarousel" data-slide-to="1"></li>
            <li ng-if="item9" data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="row-fluid">
                 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-if="item1">
                <a href="#/details-view/{{item1.advertisment_id}}" class="thumbnail"><img ng-src="../api/uploads/advertisement/{{item1.advertisement_image}}" alt="Image" style="max-width:100%;" /></a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-if="item2">
                <a href="#/details-view/{{item2.advertisment_id}}" class="thumbnail"><img ng-src="../api/uploads/advertisement/{{item2.advertisement_image}}" alt="Image" style="max-width:100%;" /></a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-if="item3">
                <a href="#/details-view/{{item3.advertisment_id}}" class="thumbnail"><img ng-src="../api/uploads/advertisement/{{item3.advertisement_image}}" alt="Image" style="max-width:100%;" /></a>
                </div>
                 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-if="item4">
                <a href="#/details-view/{{item4.advertisment_id}}" class="thumbnail"><img ng-src="../api/uploads/advertisement/{{item4.advertisement_image}}" alt="Image" style="max-width:100%;" /></a>
                </div>            
              </div>
              <!--/row-fluid--> 
            </div>
            <!--/item-->
            <div class="item">
              <div class="row-fluid">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-if="item5">
                <a href="#/details-view/{{item5.advertisment_id}}" class="thumbnail"><img ng-src="../api/uploads/advertisement/{{item5.advertisement_image}}" alt="Image" style="max-width:100%;" /></a></div>
                
              
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-if="item6">
                <a href="#/details-view/{{item6.advertisment_id}}" class="thumbnail"><img  ng-src="../api/uploads/advertisement/{{item6.advertisement_image}}" alt="Image" style="max-width:100%;" /></a>
                </div>
 
 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-if="item7">
                <a href="#/details-view/{{item7.advertisment_id}}" class="thumbnail"><img  ng-src="../api/uploads/advertisement/{{item7.advertisement_image}}" alt="Image" style="max-width:100%;" /></a>
                </div>
 
 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-if="item8">
                <a href="#/details-view/{{item8.advertisment_id}}" class="thumbnail"><img  ng-src="../api/uploads/advertisement/{{item8.advertisement_image}}" alt="Image" style="max-width:100%;" /></a>
                </div>
              </div> 
              
            </div>
            <div class="item">
              <div class="row-fluid" >
                   <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-if="item9">

                <a href="#/details-view/{{item9.advertisment_id}}" class="thumbnail"><img ng-src="../api/uploads/advertisement/{{item9.advertisement_image}}" alt="Image" style="max-width:100%;" /></a></div>
                
              
               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"  ng-if="item10">
                <a href="#/details-view/{{item10.advertisment_id}}" class="thumbnail"><img ng-src="../api/uploads/advertisement/{{item10.advertisement_image}}" alt="Image" style="max-width:100%;" /></a>
                </div>
 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-if="item11">
                <a href="#/details-view/{{item11.advertisment_id}}" class="thumbnail"><img ng-src="../api/uploads/advertisement/{{item11.advertisement_image}}" alt="Image" style="max-width:100%;" /></a>
                </div>
 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-if="item12 ">
                <a href="#/details-view/{{item12.advertisment_id}}" class="thumbnail"><img ng-src="../api/uploads/advertisement/{{item12.advertisement_image}}" alt="Image" style="max-width:100%;" /></a>
                </div>
              <!--/row-fluid--> 
            </div>
            
            <!--/item--> 
            
          </div>
          <!--/carousel-inner--> 
        </div>
        <!--/myCarousel-->
      </div>
    </div>
  </div>
</section>
