<h1>Category<a href="#/addCategory" class="btn btn-primary pull-right">Add New Category</a></h1>
<ol class="breadcrumb">
  <li class="active"> Category</li>
</ol>
<table class="table table-hover tablesorter">
    <thead>
      <tr>
        <th>Category Name</th>
        <th>Parent Category</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="category in categories.categories">
      
   		<td>{{category.category_name}}</td>
        <td>{{category.category_parentId}}</td>
        
        <td><a href="#/editCategory/{{category.category_id}}" class="btn btn-warning">Edit</a> <button class="btn btn-danger" ng-click="deleteCategory(category.category_id)">Delete</button></td>
      </tr>
    </tbody>
</table>
