<h1>Edit Package Types</h1>
<ol class="breadcrumb">
  <li class="active"> <a href="#/packageType">Packages</a>	</li>
  <li class="active"> Edit Package</li>
</ol>
<div class="row">
	<div class="col-lg-5 col-lg-offset-1">
    <!-- {{fixedAdsDetail.fixedAd[0]}} -->
    	<form name="myForm" class="form-horizontal" role="form">
        	<div class="form-group">
            	<label class="col-sm-3 control-label">Package Type</label>
            	<div class="col-sm-8">
           			<select class="form-control" ng-model="packageTypesDetail.packageType[0].packageType" >
                    	<option value="0">Free Package</option>
                        <option value="1">Paid Package</option>
                    </select>
            	</div>
          	</div>
            <div class="form-group">
            	<label class="col-sm-3 control-label">Package Name</label>
            	<div class="col-sm-8">
           			<input type="text" class="form-control" ng-model="packageTypesDetail.packageType[0].package_name" >
            	</div>
          	</div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Package Description</label>
            <div class="col-sm-8">
              <textarea class="form-control" rows="15" required ng-model="packageTypesDetail.packageType[0].package_Description"></textarea>
            </div>
          </div>
             <div class="form-group">
            <label class="col-sm-3 control-label">Package Price</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" ng-model="packageTypesDetail.packageType[0].package_price" >
            </div>
          </div>
             <div class="form-group">
            <label class="col-sm-3 control-label">Advertisment Limit</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" ng-model="packageTypesDetail.packageType[0].package_adLimit" >
            </div>
          </div>
         
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
              <button class="btn btn-primary" ng-click="updatePackageType(packageTypesDetail.packageType[0].package_id)" ng-disabled="myForm.$invalid" >Update Package</button>
            </div>
          </div>
        </form>
    </div>
</div>