<h1>News<a href="#/addNews" class="btn btn-primary pull-right">Add New</a></h1>
<ol class="breadcrumb">
  <li class="active"> News </li>
</ol>
<table class="table table-hover tablesorter">
    <thead>
      <tr>
        <th>News Title</th>
        <th>News Short Description</th>
        <th>News Date</th>
        <th>Status</th>
        <th>Image</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="news in news.news">
   		<td>{{news.news_title}}</td>
        <td>{{news.news_shortDescription}}</td>
        <th>{{news.news_date}}</th>
        <th>{{news.news_status}}</th>
        <th><img ng-src="../../../api/uploads/news/{{news.news_image}}" width="100" class="img-thumbnail"/></th>
        <td><a href="#/editNews/{{news.news_id}}" class="btn btn-warning">Edit</a> <button class="btn btn-danger" ng-click="deleteNews(news.news_id)">Delete</button></td>
      </tr>
    </tbody>
</table>
