<h1>Add News</h1>
<ol class="breadcrumb">
  <li class="active"> <a href="#/news">News</a>	</li>
  <li class="active"> Add new news</li>
</ol>
<div class="row">
	<div class="col-lg-5 col-lg-offset-1">
    	<form name="myForm" class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-3 control-label">Title</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" ng-model="news.news_title" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Short Description</label>
            <div class="col-sm-8">
              <textarea class="form-control" ng-model="news.news_shortDescription" required></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Description</label>
            <div class="col-sm-8">
              <textarea class="form-control" ng-model="news.news_Description" required></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Image</label>
            <div class="col-sm-8">
              <input type="file" class="form-control" file-model="news.news_image">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
              <button class="btn btn-primary" ng-click="addNews(news)" >Add News</button>
            </div>
          </div>
        </form>
    </div>
</div>